cx-oracle
cryptography
cython
ddt
jaydebeapi
kombu
lxml
matplotlib
mysql-connector
mysqlclient
ndg-httpsclient
numpy
openpyxl
pyopenssl
pyasn1
psycopg2-binary
pysocks
python-daemon
pytz
paramiko
redis
schedule
scikit-learn
scipy
sqlalchemy
statsmodels
tatsu==4.2.5
tzlocal
wtforms
xlrd
